/* -------- inline-grid -------- */

.row-inline {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
}

.row-inline .col {
  display: inline-block;
  vertical-align: top;
}

.col {
  padding: 0 15px;
  box-sizing: border-box;
}

.s-1 { width: 8.33%; }
.s-2 { width: 16.66%; }
.s-3 { width: 25%; }
.s-4 { width: 33.33%; }
.s-5 { width: 41.66%; }
.s-6 { width: 50%; }
.s-7 { width: 58.33%; }
.s-8 { width: 66.66%; }
.s-9 { width: 75%; }
.s-10 { width: 83.11%; }
.s-11 { width: 91.66%; }
.s-12 { width: 100%; }
