// Variables
// --------------------------------------------------


// Fonts
$font-text: "Arial" sans-serif;
$font-size-base: 16px;
$font-size-second: $font-size-base - 4;

// Color
$color-brand: #fd926d;
$color-gray: #d6d6d6;
$color-gray-light: lighten($color-gray, 13%);
