// Variables
// --------------------------------------------------


// Fonts
$font-text: "Arial" sans-serif;
$font-size: 16px;

// Color
$color-gray: #d6d6d6;
$color-gray-light: lighten($color-gray, 13%);
