/* -------- brands -------- */

.brands {
  position: relative;
  margin: 40px 0;
  padding: 5px 0;
  border: 1px solid $color-gray;
  border-left: none;
  border-right: none;
  text-align: center;

  &__title {
    position: absolute;
    width: 10%;
    left: 50%;
    top: -10px;
    margin-left: -5%;
    background-color: #fff;
    text-transform: uppercase;
  }

  &__logo {
    margin: 15px 0;
    margin-right: 43px;

    &:last-child {
      margin-right: 0;
    }
  }
}