/* -------- button -------- */

.button {
  @include btn;

  &--email {
    font-size: $font-size-base;
    color: #fff; 
    padding: 5px;
  }

  &--card {
    padding: 8px 10px;
    padding-right: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: $font-size-base;

    .icon-plus {
      font-size: 20px;
    }
  }

  &--load {
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    box-shadow: none;
  }
}