/* -------- clearance -------- */

.clearance {
	margin: 40px 0;
	text-align: center;

	&__percent {
		margin-bottom: 30px;
		position: relative;

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			content: "";
			display: inline-block;
			width: 100%;
			height: 1px;
			background-color: $color-gray;
		}
	}

	&__percent-img {
		@include img-responsive;
		position: relative;
		z-index: 1;
		box-shadow: 0 0 0 10px #fff;
	}
}

