/* -------- fast-contacts -------- */

.fast-contacts {
  padding: 0 20px;
  background-color: $color-gray;

  &__social {
    float: right;
    font-size: 0;
  }

  &__social-title {
    font-size: $font-size-secondary;
    margin-right: 15px;
  }

  &__social-fbk {
    display: inline-block;
    padding: 18.5px 16px;
    font-size: 20px;
    background-color: $color-gray-lighter;

    &:hover {
      color: #3a5795; 
    }
  }

  &__social-twt {
    @extend .fast-contacts__social-fbk;
    background-color: $color-gray;

    &:hover {
      color: #55acee;
    }
  }

  &__social-pnt {
    @extend .fast-contacts__social-fbk;

    &:hover {
      color: #bd2126;
    }
  }
}

@media (max-width: 640px) {
  .fast-contacts {
    margin-top: 15px;
    text-align: center;
    background-color: #fff;

    &__social {
      float: none;
    }

    &__social-title {
      display: none;
    }
  }
}