/* -------- icon-social -------- */

.icon-social {
  display: inline-block;
  margin-bottom: 10px;

  &:hover {
    opacity: .5;
  }
  
  .icon-twitter-circled,
  .icon-gplus-circled,
  .icon-vimeo-circled,
  .icon-tumblr-circled,
  .icon-pinterest-circled,
  .icon-facebook-circled {
    font-size: 30px;
    margin-left: -6px;
  }
}