/* -------- main-nav -------- */

.main-nav {

	&__list {
		list-style: none;
	}

	&__list-item {
		display: inline-block;
		margin-right: 10px;
	}

	&__link {
		padding: 5px 0;
		padding-right: 20px;

		&:hover {
			color: $color-brand;
		}	
	}
}