/* -------- main-nav -------- */

.main-nav {

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__item {
    position: relative;
    display: inline-block;
    margin-right: 15px;

    &:before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 7px;
      height: 7px;
      top: 5px;
      right: 3px;
      border: 1px solid #000;
      border-top: transparent;
      border-left: transparent;
      transform: rotate(45deg);
    }

    &:hover .main-nav__sub-list {
      display: block;
    }
  }

  &__link {
    padding: 10px 0;
    padding-right: 20px;

    &:hover {
      color: $color-brand;
    }
  }

  &__sub-list {
    position: absolute;
    display: none;
    width: 200px;
    top: 25px;
    left: -10px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid $color-brand;
    border-radius: 5px;
    list-style: none;
    z-index: 1;
  }

  &__sub-item {
    margin: 10px 0;
  }

  &__title {
    display: none;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: $color-brand;
    color: #fff;
  }
}

@media (max-width: 992px) {
  
  .main-nav {
    &__title {
      display: block;
    }

    &__list {
      display: none;
    }

    &__item {
      display: block;
      margin-right: 0;
      padding-left: 10px;
      border-bottom: 1px solid $color-brand;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        display: none;
      }

      &:hover .main-nav__sub-list {
        display: none;
      }
    }

    &__link {
      display: block;
    } 
  }
}

















