/* -------- new-products -------- */

.new-products {

  &__list {
    padding: 30px 15px;
    background-color: $color-brand;
    text-align: center;
  }

  &__title {
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    font-size: $font-size-base;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-brand;
  }
}

@media (max-width: 992px) {
  .new-products .row-inline [class^="col-"] {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .new-products {
    margin-top: 30px;

    .row-inline [class^="col-"] {
      width: 100%;
    }
  }
}