/* -------- payment cards -------- */

.payment-cards {
  padding: 20px;
  text-align: center;
  background-color: $color-gray-lighter;
  font-size: $font-size-secondary;

  &__title {
    margin-right: 10px;
  }

  &__img {
    margin-right: 15px;
  }
}

@media (max-width: 640px) {
  .payment-cards {
    display: none;
  }
}